body{
    background: #ccc;
}
#header{
    border: 1px solid #ccc;
    height: 15vh;
    background: #fff;
}
#body{
    border: 1px solid #ccc;
    height: 70vh;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
}
#footer{
    border: 1px solid #ccc;
    height: 15vh;
    background: #fff;
}

.flexbox{
    height: 100%;
    width: 80%;
    display: flex;
}
.item{
    border: 1px solid #ccc;
    height: 80%;    
    margin: 10px;
}
.flexbox-div{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid #ccc;  */

}
.item-div{
    border: 1px solid #ccc;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    color: rgb(29, 101, 150);
    box-shadow: 2px 2px 2px #ccc;
}
.heading{
    color: rgb(20, 172, 131);
    font-weight: bolder;
    border: 1px solid #ccc;
    width: 95%;
    margin: 10px;
}